#heading{
    text-align: center;
    border:2px solid #360c07;
    border-radius: 30px;
    background-color:#1ff2c1 ;
    width: 650px;
    align-items: center;
    margin: auto;
}

.sub-heading{
    border: 2px solid #360c07;
    background-color:  #99ff99 ;
    border-radius: 10px;
}

.image{
    border: 2px double #360c07 ;
    border-radius: 10px;
    
    
}

body{
    background-color: #ffffcc;
}

#thankyou{
    border:2px solid #360c07;
    border-radius:40px;
    text-align:center;
    width:300px;
    height:50px;
    padding-top: 25px;
    align-items: center;
    background-color: #ccffcc;
    margin: 30px auto;
}